[Desktop Entry]
Name=xmaxima
Comment=Symbolic Computation Program
Exec=xmaxima
Icon=maxima
MimeType=
Type=Application
Categories=Application;Science;Education;Math;
Encoding=UTF-8
